<ul id="myTab" class="nav nav-tabs" style="margin-left: 2%">
  <li class=""><a routerLink="/" data-toggle="tab">User List</a></li>
  <li class="active"><a data-toggle="tab">Add User</a></li>
</ul> 

<div style="border: solid 1px #E5E4E2">
  <div class="row" style="margin:5% 2%">
    <h4>User Data</h4>
    
    <table >
      <tr>
        <td> Name </td>
        <td> 
          <input type="text" [(ngModel)]="newname">
        </td>
      </tr>
      <tr>
        <td> Email </td>
        <td> 
          <input type="text" [(ngModel)]="newemail">
        </td>
      </tr>
      <tr>
        <td> Address </td>
        <td> 
          <input type="text" [(ngModel)]="newaddress">
        </td>
      </tr>
      <tr>
        <td> Phone Number </td>
        <td> 
          <input type="text" [(ngModel)]="newnumber">
        </td>
      </tr>
      <tr>
        <td> Company Name </td>
        <td> 
          <input type="text" [(ngModel)]="newcompany">
        </td>
      </tr>
      <tr>
        <td>  </td>
        <td> 
          <button type="button" (click)="addUser()" name="button">add new user!</button>
        </td>
      </tr>
    </table>
  </div>

  

</div>