<ul id="myTab" class="nav nav-tabs" style="margin-left: 2%">
  <li class="active"><a data-toggle="tab">User List</a></li>
  <li class=""><a routerLink="/add_user" data-toggle="tab">Add User</a></li>
</ul> 
<div style="border: solid 1px #E5E4E2">
  <div class="row" style="margin:5% 2%">
    <table class="table table-bordered center">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let d of this.api.UserList; let i = index">
        <td>{{d.name}}</td> 
        <td>{{d.email}}</td>
        <td>{{d.address["street"]}}</td>
        <td>{{d.company["name"]}}</td>
        <td><button class="btn btn-danger" (click)="deleteData(i)" type="button" name="button">Remove</button></td>
        
      </tr>
    </table>
  </div>
</div>




