/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.center {
    text-align: center;
}

.table th {
    text-align: center;
}